<template>
  <div class="list-name">
    <h1>Parents Dog</h1>
    <el-card class="box-card">
      <div v-for="(dog, index) in dogs.message" :key="index" class="text item">
        {{ index }}
        <el-card class="box-card" v-if="dog.length >0">
          <div class="child">Baby</div>
          <div v-for="(baby, index) in dog" :key="index">
            <span>{{ baby }}</span>
          </div>
        </el-card>
      </div>
    </el-card>
  </div>
</template>

<script>
import axios from "axios";
export default {
  name: "DogListName",
  data() {
    return {
      dogs: [],
    };
  },
  methods:{
    async dogItems(){
      try {
        const res = await axios.get('https://dog.ceo/api/breeds/list/all')
        this.dogs = res.data
      } catch (error) {
        console.log(error)
      }
    }
  },
  mounted() {
    this.dogItems();
  },
};
</script>

<style>
.text {
  font-size: 18px;
  text-align: left;
}

.item {
  padding: 18px 0;
}

.box-card {
  width: 100%;
}
.el-card__body .child {
  color: red;
  text-align:center;
  width:100%;
  font-size:23px;
}
</style>