<template>
  <div class="home-view">
    <div class="title">
      <h3 class="text-title">ToDo List</h3>
    </div>
    <AddTodoItem @add-todo-item="addTodo"></AddTodoItem>
    <ListTodoItem
      :todos="todoList"
      @handle-delete="deleteItem"
      @handle-on-top="handlePutOnTop"
    ></ListTodoItem>
    <div class="box-search">
      <div class="search-todo">
        <el-input placeholder="write id to find todo" v-model="textId" />
        <el-button
          icon="el-icon-search"
          circle
          @click="getItem"
          :disabled="!textId"
          :plain="true"
        ></el-button>
      </div>
    </div>
  </div>
</template>
<script>
import AddTodoItem from "../components/AddTodoItem.vue";
import ListTodoItem from "../components/ListTodoItem.vue";
import axios from "axios";
export default {
  name: "HomeView",
  data() {
    return {
      todoList: [],
      textId: "",
    };
  },
  components: {
    AddTodoItem,
    ListTodoItem,
  },
  methods: {
    async addTodo(data) {
      this.todoList.push(data);
      try {
        await axios.post("http://localhost:3001/todo/", data);
      } catch (error) {
        console.log(error);
      }
    },
    async getItem() {
      try {
        const res = await axios.get(
          "http://localhost:3001/todo/" + parseInt(this.textId)
        );
        console.log(res.data);
        this.todoList = [res.data];
      } catch (error) {
        console.log(error);
      }
      const index = this.todoList.findIndex(
        (todo) => todo.id == parseInt(this.textId) && todo.is_deleted === 0
      );
      if (index === -1 || parseInt(this.textId) == isNaN) {
        this.$message({
          showClose: true,
          message: "Bạn đã nhập sai id vui lòng nhập lại",
          type: "error",
        });
      } else {
        this.$message({
          showClose: true,
          message: "Congrats, found id.",
          type: "success",
        });
      }
      this.textId = "";
    },
    async getListItem() {
      try {
        const res = await axios.get("http://localhost:3001/todo/");
        console.log(res.data);
        this.todoList = res.data;
      } catch (error) {
        console.log(error);
      }
    },
    async deleteItem(data) {
      try {
        await axios.delete(`${"http://localhost:3001/todo/"}${data}`);
        this.getListItem();
      } catch (error) {
        console.log(error);
      }
    },
    handlePutOnTop(data) {
      data.is_rate = !data.is_rate;
      if (data.is_rate === true) {
        let indexTop = this.todoList.findIndex((todo) => todo.id === data.id);
        let TopTitle = this.todoList.splice(indexTop, 1);
        this.todoList = TopTitle.concat(this.todoList);
      } else {
        let indexBottom = this.todoList.findIndex(
          (todo) => todo.id === data.id
        );
        let BottomTitle = this.todoList.splice(indexBottom, 1);
        this.todoList = this.todoList.concat(BottomTitle);
      }
    },
  },
  mounted() {
    this.getListItem();
  },
};
</script>
<style scoped>
.home-view {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.text-title {
  font-size: 40px;
  font-weight: 400;
  text-align: left;
}
.title {
  width: 70%;
}
.search-todo {
  display: flex;
  width: 100%;
}
.el-input__inner {
  padding: 22px 10px;
}
.box-search {
  margin-top: 50px;
  width: 60%;
  display: flex;
}
.el-button {
  margin-left: 20px;
}
</style>
