<template>
  <div class="image-dog">
    <el-button type="danger" class="render" @click="render">render</el-button>
    <div id="dog">
       <el-image
      style="width: 500px; height: 500px"
      :src="dogs.message"
      :fit="fit"></el-image>
    </div>
  </div>
</template>

<script>
import axios from "axios";
export default {
  name: "RandomDog",
  data() {
    return {
      dogs: [],
      fit:['cover']
    };
  },
  methods: {
    async render() {
      try {
        const res = await axios.get('https://dog.ceo/api/breeds/image/random')
        this.dogs = res.data
      } catch (error) {
          console.log(error)
      }
    },
  },
};
</script>

<style>
#dog{
  margin-top:30px;
}
</style>