<template>
  <div class="add-item">
    <el-input
      placeholder="New task"
      v-model="input"
      @keyup.enter="handleSubmit"
    />
    <el-button type="success" :disabled="!input" @click="handleSubmit"
      >ADD</el-button
    >
  </div>
</template>
<script>
export default {
  name: "AddTodoItem",
  data() {
    return {
      input: "",
      item: {},
      idNext: 0,
    };
  },
  methods: {
    handleSubmit() {
      this.item = {
        name: this.input,
        is_rate: false,
      };
      this.$emit("add-todo-item", this.item);
      this.input = "";
    },
  },
};
</script>

<style>
.add-item {
  display: flex;
  width: 60%;
  margin-top: 15px;
  align-items: center;
}
.add-item .el-input {
  margin-right: 20px;
}
.add-item input {
  padding: 22px 10px;
}
.add-item button {
  padding: 15px 20px;
}
</style>