<template>
  <div class="listTodo">
    <TodoItem
      v-for="(todo, index) in todos"
      :key="index"
      :todoItem="todo"
      @delete-todo="deleteTodoItem"
      @rate-todo="putOnTop"
    ></TodoItem>
  </div>
</template>

<script>
import TodoItem from "./TodoItem.vue";
export default {
  name: "ListTodoItem",
  components: {
    TodoItem,
  },
  props: {
    todos: {
      type: [Array, Object],
      default: null,
    },
  },
  methods: {
    deleteTodoItem(data) {
      this.$emit("handle-delete", data);
    },
    putOnTop(data) {
      this.$emit("handle-on-top", data);
    },
  },
};
</script>
<style>
.listTodo {
  width: 60%;
  margin-top: 30px;
  box-shadow: 3px 2px 8px #3333;
}
.listTodo .todoList:first-child {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.listTodo .todoList:last-child {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
</style>