<template>
  <div class="todoList" :class="{ changeColor: todoItem.is_rate === true }">
    <el-checkbox v-model="checked"></el-checkbox>
    <span class="text-title" :class="{ isDone: checked === true }">{{
      todoItem.name
    }}</span>
    <div class="like-item">
      <el-badge :value="todoItem.likes" class="item" v-if="todoItem.likes">
        <i class="el-icon-message-solid" @click="countLove"></i>
      </el-badge>
      <i class="el-icon-message-solid" @click="countLove" v-else></i>
    </div>
    <div class="rate-icon">
      <i
        class="el-icon-star-on rateIcon"
        @click="handleOnTop"
        :class="{ onRate: todoItem.is_rate === true }"
      ></i>
    </div>
    <div class="right-delete">
      <i class="el-icon-delete" @click="isDelete"></i>
    </div>
  </div>
</template>
<script>
import axios from "axios";
export default {
  name: "TodoItem",
  props: {
    todoItem: {
      type: [Object, String, Number],
      default: null,
    },
  },
  data() {
    return {
      checked: false,
      objId: {},
    };
  },
  methods: {
    isDelete() {
      this.$emit("delete-todo", this.todoItem.id);
    },
    async handleOnTop() {
      this.$emit("rate-todo", this.todoItem);
      this.objId = {
        id: this.todoItem.id,
      };
      try {
        await axios.post(
          "http://localhost:3001/todo/change-status",
          this.objId
        );
      } catch (error) {
        console.log(error);
      }
    },
    async countLove() {
      this.objId = {
        id: this.todoItem.id,
      };
      try {
        await axios.post("http://localhost:3001/todo/like", this.objId);
      } catch (error) {
        console.log(error);
      }
    },
  },
};
</script>
<style>
.todoList {
  padding: 15px 15px;
  border-top: 1px solid #3333;
  text-align: left;
  display: flex;
  position: relative;
  align-items: center;
}
.todoList .text-title {
  margin-left: 40px;
  margin-right: 10px;
  font-size: 20px;
  width: 80%;
  transition: all 0.3s linear;
}
.right-delete {
  position: absolute;
  right: 15px;
}
.right-delete i {
  cursor: pointer;
  font-weight: 800;
  color: red;
  font-size: 20px;
}
.todoList .isDone {
  text-decoration: line-through;
}
.rateIcon {
  display: flex;
  align-items: center;
  font-size: 26px;
  cursor: pointer;
  margin-left: 27px;
}
.onRate {
  color: rgb(218, 218, 7);
}
.changeColor {
  background-color: #74bcff;
}
.like-item i {
  font-size: 25px;
  color: chartreuse;
  cursor: pointer;
}
.item {
  padding: 0px 0px !important;
}
</style>